.barra-superior{
  min-height: 4rem;
}
.logo{
  width: 40px;
  margin-top: 0.5rem;
  float: left;
}
.contenedor-noticias{
  margin-top: 1rem;
  min-height: 50rem;
  padding: 0.5rem;
}
.responsive-img{
  border: 0.6rem solid #ff8f00;
  border-radius: 5px;
}
.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 70%;
}
.barra-superior .row{
  margin-bottom: 0;
}
.contenedor-botones{
  margin-top: 1rem;
}
#publicacion-texto{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  resize: none;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  height: 5rem;
  color: #fff;
}
@media (max-width: 600px) {
  .columna-grupos{
    padding: 0 !important;
  }
}

.avatar{
  padding: 0;
  margin: 0 auto;
}

#avatar{
  padding: 0 !important;
  margin: 0 !important;
}

.input-field label {
    color: #607D8B;
}